@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --primary: #fcd855;
    --text: #000000;
    --accentorange: #f6663e;
    --accentorangehover: #c33109;
    --darkaccentorange: #451313;
    --white: #f7f6f4;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Jost", sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text);
}

a {
    color: var(--text);
    font-weight: 400;
}

.btn-default::after,
header #links a::after,
.footer-container a::after,
.link-orange::after {
    content: "";
    width: 0px;
    height: 2px;
    display: block;
    background: var(--white);
    transition: 300ms;
}

.btn-default:hover::after,
header #links a:hover::after,
.footer-container a:hover::after,
.link-orange:hover::after {
    width: 100%;
}

header #links a:hover,
.footer-container a:hover,
.link-orange:hover {
    color: var(--accentorangehover);
}

header #links a::after,
.footer-container a::after,
.link-orange::after {
    background: var(--accentorangehover);
}

.btn-default {
    padding: 10px 30px;
    background-color: var(--accentorange);
    border-radius: 30px;
    color: var(--white);
    transition: transform 250ms;
}

.btn-default:hover {
    transform: scale(92%);
}

.orange-btn {
    background-color: var(--accentorange);
    color: var(--white);
    font-weight: 600;
}

.orange-btn:hover {
    background-color: var(--accentorangehover);
}

.hero-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 35px;
    gap: 10px;
}

.hero-buttons a {
    font-size: 1.25rem;
}

main section {
    width: 100%;
    padding: 30px 14%;
}

.hero {
    background: url(src/img/hero-background-overlay.webp) var(--primary);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    background-clip: cover;
    padding: 30px 18%;
}

#hero-lp {
    padding: 0px 0px;
    padding-top: 70px;
}

#hero-lp .container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#hero-lp .container .text-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 8%;
}

#hero-lp .container .text-container p {
    max-width: 900px;
    font-size: 1.15rem;
}

.hero h1 {
    font-size: 4rem;
}

.hero-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hero-side img {
    height: 380px;
}

#wrap {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
}

.carousel {
    display: flex;
    align-items: center;
    position: relative;
}

.carousel .strip:hover,
.carousel .strip:focus {
    animation-play-state: paused;
    transform: scale(105%);
}

.carousel#backwards-carousel .strip {
    animation-direction: reverse;
}

.carousel .strip {
    display: flex;
    /* width a animation via JS */
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-500px * 8));
    }
}

.carousel .slide {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .slide img {
    width: 450px;
    aspect-ratio: 4/3;
    border-radius: 16px;
    object-fit: cover;
}

.section-transition {
    width: 100%;
}

.contact-info h2 {
    font-size: 2.25rem;
    margin-bottom: 1.2rem;
}

.contact-box-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 2rem;
}

.contact-box {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

.contact-box img {
    width: 50px;
}

.contact-person {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-person a {
    font-size: 1.5rem;
    font-weight: 600;
}

.contact-person p {
    font-size: 1rem;
    font-weight: 400;
}

.top-contacts {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
}

.contact-form h2 {
    font-size: 2.1rem;
    margin-bottom: 2rem;
}

.contact-form h2::before {
    display: none;
}

.contact-form {
    background: url(src/img/hero-background-overlay.webp) var(--primary);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    padding: 3rem 2.5rem;
    padding-bottom: 1.5rem;
    border-radius: 16px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form form label::after {
    content: "*";
    margin-left: 0.5rem;
    color: red;
}

.contact-form form label[for="phone"]::after {
    content: "";
}

.contact-form form label {
    margin-bottom: 0.4rem;
    font-size: 1.15rem;
    font-weight: 500;
}

.contact-form form input,
.contact-form form textarea {
    margin-bottom: 1.5rem;
    border: 2px solid #dadada;
    border-radius: 6px;
    font-size: 1.1rem;
    padding: 7px 12px;
    font-weight: 400;
}

.contact-form form input:focus,
.contact-form form textarea:focus {
    border: 2px solid #dadada;
}

.contact-form form input:focus-visible,
.contact-form form textarea:focus-visible {
    border: 2px solid #dadada;
    outline: none;
}

.contact-form form input[type="submit"] {
    border: none;
    border-radius: 50px;
    align-self: flex-start;
    padding: 10px 30px;
    cursor: pointer;
}

.shipping-details ul {
    list-style-type: none;
    text-align: center;
}

.shipping-details li {
    font-size: 1.1rem;
}

.shipping-details ul span {
    font-weight: 600;
}

.shipping-details h2 {
    font-size: 3rem;
    margin-bottom: 12px;
}

.shipping-details h2::before {
    display: none;
}

.bottom-contacts {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.shipping-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.side-by-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    gap: 75px;
}

.side-by-side h2,
.boxes h2,
#calendar-section h2 {
    font-size: 2.2rem;
    margin-bottom: 1.1rem;
}

section h2 {
    position: relative;
    font-size: 2.2rem;
}

section h2:before {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    left: -1em;
    width: 5px;
    border-radius: 50px;
    background-color: var(--accentorange);
}

.side-by-side .text-container {
    display: flex;
    flex-direction: column;
}

.side-by-side .text-container p {
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
}

.side-by-side img {
    width: 500px;
}

.boxes .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
    column-gap: 30px;
    justify-items: center;
}

.boxes .box-container .box {
    --d: 6px; /* folded part */
    --c: #c33109; /* color */
    --f: 16px; /* ribbon font-size */

    padding: 20px 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    width: fit-content;
    transition: transform 250ms;
    position: relative;
}

.boxes .box-container .box:hover {
    transform: scale(1.03);
}

.boxes .box-container .box img {
    width: 250px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 10px;
}

.boxes .box-container .box h3 {
    font-size: 1.4rem;
}

#sponsors .box-container img {
    width: 175px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

#sponsors {
    margin-top: 20px;
}

.boxes .box-container .box.ribbon::before {
    content: attr(data-ribbon);
    position: absolute;
    font-size: var(--f);
    top: 0;
    right: 0;
    transform: translate(29.29%, -100%) rotate(45deg);
    color: #fff;
    text-align: center;
    border: 1px solid transparent;
    border-bottom: 0;
    transform-origin: bottom left;
    padding: 5px 35px calc(var(--d) + 5px);
    background: linear-gradient(rgba(0, 0, 0, 0.5) 0 0) bottom/100% var(--d)
        no-repeat var(--c);
    background-clip: padding-box;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        calc(100% - var(--d)) calc(100% - var(--d)),
        var(--d) calc(100% - var(--d)),
        0 100%
    );
    -webkit-mask: linear-gradient(
                135deg,
                transparent calc(50% - var(--d) * 0.707),
                #fff 0
            )
            bottom left,
        linear-gradient(
                -135deg,
                transparent calc(50% - var(--d) * 0.707),
                #fff 0
            )
            bottom right;
    -webkit-mask-size: 300vmax 300vmax;
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
}

#news {
    margin-top: 20px;
    margin-bottom: 30px;
}

#news .box.news-box {
    width: 400px;
}

#news .box.news-box:hover {
    transform: none;
}

#news .box.news-box img {
    aspect-ratio: 16/9;
    width: 100%;
}

#news .box.news-box .tag {
    color: #878895;
    font-size: 0.9rem;
}

#news .box.news-box .news-title {
    font-size: 1.5rem;
}

#news .box.news-box .news-excerpt {
    font-size: 1rem;
}

#news .box.news-box .read-more {
    display: inline-block;
    margin-top: 10px;
    color: var(--accentorange);
    font-weight: 700;
}

#news .box.news-box .read-more::after {
    display: none;
}

#news .load-more {
    display: inline-block;
    width: 100%;
    color: var(--white);
    text-align: center;
    background-color: var(--accentorange);
    padding: 5px 0;
    border-radius: 12px;
    margin-top: 20px;
    font-size: 1.25rem;
    font-weight: 600;
    transition: filter 200ms;
}

#news .load-more:hover {
    filter: brightness(0.9);
}

.adoption-list {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.adoption-list .sort-options {
    display: flex;
    gap: 20px;
}

.adoption-list .sort-options select {
    border: 2px solid #cacad0;
    border-radius: 12px;
    padding: 5px 10px;
    outline: none !important;
    font-size: 1.05rem;
}

.adoption-list .sort-options select:active,
.adoption-list .sort-options select:focus {
    outline: none !important;
}

.adoption-list .list-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.adoption-list .dog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 30px;
    row-gap: 60px;
}

.adoption-list .dog-list .dog-box {
    padding: 30px 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.adoption-list .dog-list .dog-box .name {
    font-size: 1.75rem;
}

.adoption-list .dog-list .dog-box .breed {
    color: #878895;
    font-size: 1.1rem;
}

.adoption-list .dog-list .dog-box img {
    width: 300px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.qualities {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    margin-top: 15px;
}

.qualities .quality-box {
    text-align: center;
    border-radius: 12px;
    padding: 10px;
}

.qualities .quality-box:nth-of-type(1) {
    background-color: #fbcb3e;
}
.qualities .quality-box:nth-of-type(2) {
    background-color: #fde368;
}
.qualities .quality-box:nth-of-type(3) {
    background-color: #e6dfdf;
}

.qualities .quality-box .quality-name {
    font-weight: 600;
}

.adoption-steps {
    margin-top: 30px;
}

.adoption-steps .step {
    --stepsize: 4rem;
    position: relative;
    min-height: 1em;
}
.adoption-steps .step + .step {
    margin-top: var(--stepsize);
}
.adoption-steps .step > div:first-child {
    position: static;
    height: 0;
}
.adoption-steps .step > div:not(:first-child) {
    margin-left: var(--stepsize);
    padding-left: 2rem;
}

/* Circle */
.adoption-steps .circle {
    background: var(--accentorange);
    position: relative;
    width: var(--stepsize);
    height: var(--stepsize);
    line-height: var(--stepsize);
    border-radius: 100%;
    color: #fff;
    text-align: center;
    box-shadow: 0 0 0 3px #fff;
}

/* Vertical Line */
.adoption-steps .circle:after {
    content: " ";
    position: absolute;
    display: block;
    top: 1px;
    right: 50%;
    bottom: 1px;
    left: 50%;
    height: 100%;
    width: 2px;
    transform: scale(1, 2);
    transform-origin: 50% -100%;
    background-color: var(--accentorange);
    z-index: -1;
}

.adoption-steps .circle.last:after {
    display: none;
}

.adoption-steps .step:last-child .adoption-steps .circle:after {
    display: none;
}

.adoption-steps .step:first-child .adoption-steps .circle:after {
    height: 100%;
    z-index: -1;
}

/* Stepper Titles */
.adoption-steps .title {
    font-size: 2.2rem;
    line-height: var(--stepsize);
    font-weight: bold;
}
.adoption-steps .caption {
    font-size: 1.1rem;
}

.cta-section {
    margin-top: 50px;
}

.cta-section .cta {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

.cta-section .cta .link-orange {
    width: fit-content;
    font-weight: 700;
    font-size: 4rem;
}

.volunteering {
    margin-top: 30px;
}

.volunteering h2,
.support h2 {
    margin-bottom: 1rem;
}
.volunteering p,
.support p {
    font-size: 1.1rem;
    line-height: 150%;
    margin-bottom: 1rem;
}

.volunteering .volunteering-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
}

.volunteering .volunteering-container .box,
.support .support-grid .box {
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.volunteering .volunteering-container .box img,
.support .support-grid .box img {
    width: 50px;
    height: 50px;
}

.support .support-grid {
    display: grid;
    margin-top: 40px;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
}

.support .support-grid .box .box-head {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 1rem;
}

.support .support-grid .box p {
    text-align: center;
}

.support .support-grid .box h3 {
    font-size: 1.5rem;
}

.support .support-grid .box a {
    font-size: 2rem;
    font-weight: 700;
}

#found-dog h2 {
    font-size: 3rem;
}

#about-us {
    margin-top: 50px;
}

#about-us .about-box {
    background: url(src/img/hero-background-overlay.webp) var(--primary);
    background-blend-mode: multiply;
    background-repeat: repeat;
    background-position: top center;
    border-radius: 20px;
    padding: 50px 80px;
    display: grid;
    column-gap: 80px;
    align-items: center;
    grid-template-columns: 3fr 2fr;
}

#about-us .about-box h2 {
    font-size: 3rem;
    margin-bottom: 15px;
}

#about-us .about-box h2::before {
    display: none;
}

#about-us .about-box p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    line-height: 150%;
}

#about-us .about-box img {
    width: 100%;
    border-radius: 20px;
}

@media only screen and (max-width: 1400px) {
    #about-us .about-box {
        grid-template-columns: 1fr;
    }
    .side-by-side {
        flex-direction: column;
        justify-content: center;
    }

    .side-by-side img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    .top-contacts {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .adoption-steps .circle::after {
        display: none;
    }
}
@media only screen and (max-width: 1150px) {
    .hero-side {
        flex-direction: column;
    }

    .hero-side img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    .support .support-grid {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 767px) {
    .hero h1 {
        font-size: 2.5rem;
        margin-bottom: 10px;
    }

    #hero-lp .container .text-container p {
        font-size: 1rem;
    }

    #hero-lp {
        padding-top: 50px;
    }

    .hero-buttons {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    main section {
        padding: 30px 8%;
    }

    #about-us .about-box {
        padding: 20px 30px;
    }

    #about-us .about-box h2 {
        font-size: 2rem;
    }

    #about-us .about-box p {
        font-size: 1rem;
    }
    #found-dog h2 {
        font-size: 2rem;
    }
    #found-dog p {
        font-size: 1rem;
    }
    section h2 {
        font-size: 2rem;
    }
    section h2:before {
        display: none;
    }
    .side-by-side p {
        font-size: 1rem;
    }
    .cta-section .cta {
        font-size: 1.5rem;
    }
    .cta-section .cta .link-orange {
        font-size: 2.5rem;
    }
    .boxes .box-container {
        justify-content: center;
    }
    .contact-info h2 {
        font-size: 2rem;
    }
    .contact-person a {
        font-size: 1.25rem;
    }
    .contact-form h2 {
        font-size: 2rem;
    }
    .shipping-details h2 {
        font-size: 2rem;
    }
    .shipping-details li {
        font-size: 1rem;
    }
    .shipping-details {
        padding: 30px 8%;
    }
    .adoption-list .list-head {
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }
    .adoption-list .dog-list {
        justify-content: center;
    }
}
